.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://e0.pxfuel.com/wallpapers/598/385/desktop-wallpaper-sneaker-sneaker.jpg');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  background-color: #ffad57 !important;
}
